language: java
sudo: true
dist: trusty
jdk: oraclejdk8
before_install:
  - chmod +x mvnw
install: true
addons:
  sonarcloud:
    organization: "listaplicteam"
    token:
      secure: "travis encrypt 36e4fdafadc35e45885e09722836e3849e4ff98f"

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install verify sonar:sonar -Dspring-boot.run.profiles=test -Dsonar.projectKey=ListAplicTeam_list-aplic-api
cache:
  directories:
    - $HOME/.m2
after_success:
  - bash <(curl -s https://codecov.io/bash)