language: java
sudo: true
dist: trusty
jdk: oraclejdk8
before_install:
  - chmod +x mvnw
install: true

addons:
  sonarcloud:
    organization: "listaplicteam"
    token:
      secure: "UsoV8stAQ+ErMQjO1dpIuiAjEQvjHHbGB1nfIb5Z2Ej4JqWRnNbQWpgmUiSj78XkrdCj/j0Zn5VT1TMGJOCLyI9/mrN+jQmUNy8vPhrEoSogvjhf6LAvgZ7SHUcawCXdwyytakVDLEQh6Wr4V1PKbxpJpAU4stolIhiXIuSlBVVAGKW4lssf1Rhxjc2pqQuXshT14HHL42j6R03ig0xMokxXqOKigl5QLqBYUWQJfsaHvbkKURDApveuWg+4v9PgRYugT5fQuQtjzfzMRl0XiNljcT+bUTQxCHITqG/09WzZE8Ebh3nV6vcJC/UMWloLKkNEfzhajzseALBkXhQD6/zuOJCrZUnod27oWyHRROTu4rAGkAzp37mGbi/adjsYyMCnu6tVdmeZbaTq0jLwaI+sw4C9dEEpBdPBAi1dRQIBSwY/JopPyOjowFeLIZB6woCyifUCg4qXKf8FUxznSBaomiWiiLbNlyVP+o3ZEmNpcXTn0o8DVuQHsJ9BvT342ouGZ85F9rFOfLLGGPcQE91nz6ID8McE8rddg1dVVH01LjVOsMb1cCrdqBCzkftVaZyjjq/sKxkHmM+o6YFtHLTYd4SWUgxZXwMlN9n+9OXvuP/3AKpRMt5/Ig9BAs0F9LXPkgCtkjTB5Aix5McbvxpJxs+AO6Axn9hnL7P7BvQ="

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install verify sonar:sonar -Dspring-boot.run.profiles=test -Dsonar.projectKey=ListAplicTeam_list-aplic-api -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=listaplicteam -Dsonar.login=UsoV8stAQ+ErMQjO1dpIuiAjEQvjHHbGB1nfIb5Z2Ej4JqWRnNbQWpgmUiSj78XkrdCj/j0Zn5VT1TMGJOCLyI9/mrN+jQmUNy8vPhrEoSogvjhf6LAvgZ7SHUcawCXdwyytakVDLEQh6Wr4V1PKbxpJpAU4stolIhiXIuSlBVVAGKW4lssf1Rhxjc2pqQuXshT14HHL42j6R03ig0xMokxXqOKigl5QLqBYUWQJfsaHvbkKURDApveuWg+4v9PgRYugT5fQuQtjzfzMRl0XiNljcT+bUTQxCHITqG/09WzZE8Ebh3nV6vcJC/UMWloLKkNEfzhajzseALBkXhQD6/zuOJCrZUnod27oWyHRROTu4rAGkAzp37mGbi/adjsYyMCnu6tVdmeZbaTq0jLwaI+sw4C9dEEpBdPBAi1dRQIBSwY/JopPyOjowFeLIZB6woCyifUCg4qXKf8FUxznSBaomiWiiLbNlyVP+o3ZEmNpcXTn0o8DVuQHsJ9BvT342ouGZ85F9rFOfLLGGPcQE91nz6ID8McE8rddg1dVVH01LjVOsMb1cCrdqBCzkftVaZyjjq/sKxkHmM+o6YFtHLTYd4SWUgxZXwMlN9n+9OXvuP/3AKpRMt5/Ig9BAs0F9LXPkgCtkjTB5Aix5McbvxpJxs+AO6Axn9hnL7P7BvQ=

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'