language: java
sudo: true
dist: trusty
jdk: oraclejdk8
before_install:
  - chmod +x mvnw
install: true

addons:
  sonarcloud:
    organization: "listaplicteam"
    token:
      secure: "fXGmQb/j8pTqIkZ3crdKjrQlmFbmJfAMhXDdArHx95pWPIjGLCFJU8PE1unxjVd3/KpW1z2dBlccXChCVAZ/F5yEOGn56zKzLSD8cxhSK37TCAIPosgbi7huX0u4GizoluW7aD5ChoGc9q2nkU59gIjq3OffSN+hzrIgBS0CjTSAVE+GHaRaeCk+5tb9C9n70vjlbi3PjJoBaNIUvw/5SvS9K0V/QMl8xpdwWMwFaW/qNgNEKNtKee4aSdVF122dzRQ4BgpBHZqkwS8eegqRKDn52oZ8SNjd//w1T0Iz+ZaN6vmA6iMzUwD9AVeRO7n2CLi9ZcA06XoB9AAhGI38bNylgFuLuUYxfU69ocm2So0DftMGusteMW9aL7D9IRG5ptrnbbIDkEEa20FCWFHQBPAgnA3YRZXmYPOW5K6/aJsWNN3WSw+wod/G7WjS4dF1RiIsCAfv2IFP2qzBBwNVBlfzZZ+vWlNpo3wX3zcF2XL8+IUC0s3KQ9Ha2DPxMtBsgPzxtQ7Yynmle1k1YAycm6BVNs+EpRPWas3zBphuLnBm4Ir1ejusJ2e1xpKStAv8iEfTIyq/80kdsB5/J6BhrTFXyzqeUUMyse+G37MepDLagWrFVQ08K67oX+BmXePYgS9zmlJauLQUGICGO3DapzpWKVhEfY9xrUC2bEeAqyc="

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install verify sonar:sonar -Dspring-boot.run.profiles=test -Dsonar.projectKey=ListAplicTeam_list-aplic-api

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'